@model BloodAlcoholAssistant.Models.Person

@{
    ViewBag.Title = "Blood Alcohol Assistant";
}

<div class="row">
    <div class="col-md-4">
        <h3>Podaj swoją wagę</h3>
        <p>
            Jest to konieczne, by ustalić orientacyjnie wpływ deklarowanej dawki alkoholu na Twój organizm.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Wskaż swoją płeć</h3>
        <p>
            W zależności od płci wpływ alkoholu na Twój organizm różni się.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Podaj liczbę spożytych alkoholi</h3>
        <p>
            Dzięki temu wygenerujemy odpowiednią ilość wierszy do uzupełnienia w kolejnym oknie.
        </p>
    </div>
</div>
