@model BloodAlcoholAssistant.Models.AlcoholsViewModel

@{
    ViewBag.Title = "Blood Alcohol Assistant";
    ViewBag.Person = HttpContext.Current.Session["Person"];
}

@using (Html.BeginForm("Calculate", "Assistant"))
{
    for (var i = 0; i < (ViewBag.Person as Person).NumberOfAlcohols; i++)
    {
        <div>
            Podaj dane o napoju alkoholowym nr @(i+1):
            <br/>
        </div>
        <div>
            <p>Podaj nazwę: </p>
            <p>@Html.TextBoxFor(x => Model.ListOfAlcohols[i].Name)</p>
        </div>
        <div>
            <p>Podaj ilość [l]: </p>
            <p>@Html.TextBoxFor(x => Model.ListOfAlcohols[i].LitresVolume)</p>
        </div>
        <div>
            <p>Podaj zawartość procentową alkoholu: </p>
            <p>@Html.TextBoxFor(x => Model.ListOfAlcohols[i].Percent)</p>
        </div>
        <br/>
    }

    <div>
        <input type="submit" class="btn btn-danger"/>
    </div>
}