@model BloodAlcoholAssistant.Models.ResultViewModel

@{
    ViewBag.Title = "Blood Alcohol Assistant";
}

<div>
    <h3>Zawartośc alkoholu w Twojej krwi to około @Model.CalculationResult [promil]</h3>
</div>
